<custom-keyboard-container class="{{model.theme}}">
    <custom-backdrop>
    </custom-backdrop>
    <custom-keyboard>
        <!-- -->
        <custom-keyboard-addons>
        </custom-keyboard-addons>
        <!-- -->
        <custom-keyboard-header ng-show="!model.hideHeader">
            <custom-keyboard-input-container>
                <custom-keyboard-label>
                    {{model.label}}<span ng-if="model.label">：</span>
                </custom-keyboard-label>
                <custom-keyboard-value>
                    {{model.value}}
                </custom-keyboard-value>
            </custom-keyboard-input-container>
            <custom-keyboard-clear-button>
                <md-icon md-svg-icon="delete" ion-native-click ng-click="onClearPressed($event)"></md-icon>
            </custom-keyboard-clear-button>
            <custom-keyboard-done-button>
              <md-icon md-svg-icon="icon_done" ion-native-click ng-click="onDonePressed($event)"></md-icon>
            </custom-keyboard-done-button>
            <!-- <custom-keyboard-button ion-native-click ng-click="onDonePressed($event)">
                {{model.doneText}}
            </custom-keyboard-button> -->
        </custom-keyboard-header>
        <!-- -->
        <custom-keyboard-keys>
            <custom-keyboard-key ion-native-click ng-click="onKeyPressed($event,key)" ng-repeat="key in model.keys">
                <div>
                    <div class="key-value" ng-if="key.value">{{key.value}}</div>
                    <div class="key-icon" ng-if="key.icon"><i class="icon {{key.icon}}"></i></div>
                    <div class="key-label">{{key.label}}</div>
                </div>
            </custom-keyboard-key>
        </custom-keyboard-keys>
        <!-- -->
    </custom-keyboard>
</custom-keyboard-container>
